@font-face {
    font-family: Roboto;
    src: url("./Roboto-Light.ttf");
}

html {
    font-family: Roboto, serif;
    background-color: rgb(82, 86, 89);
    color: #424242;
}

a {
    color: inherit;
    text-decoration: none;
}

i.fa-mobile {
    color: #01579B;
}
i.fa-at {
    color: #F16E00;
}
i.fa-linkedin {
    color: #2867B2;
}
i.fa-github {
    color: #24292E;
}
i.fa-map-marker-alt {
    color: #E53935;
}

.container {
    background-color: white;
    /*max-width: 1024px;*/
    /*margin: 100px auto;*/
    /*padding: 20px;*/
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__photo {
    display: flex;
    justify-content: center;
    width: 250px;
}

.header__photo-img {
    width: 146px;
    border: solid 2px #01579B;
    border-radius: 50%;
}

.header__whois {
    display: flex;
    flex-direction: column;
}

.header__whois-name {
    color: #01579B;
    font-size: 30px;
    text-align: right;
}

.header__whois-title {
    margin-top: 15px;
    font-size: 18px;
    text-align: right;
}

.body {
    margin-top: 30px;
    display: flex;
}

.body__details {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.body__details-info {
    display: flex;
    flex-direction: row;
}

.body__details-info:not(:first-child) {
    margin-top: 30px;
}

.body__details-info-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

.body__details-info-text {
    min-height: 20px;
}

.body__path {
    margin-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__path-title {
    font-size: 30px;
}
